@font-face {
	font-family: 'PIROU';
	font-style: normal;
	font-weight: normal;
	src: local('PIROU'), url(../fonts/Pirou-Regular.otf) format('otf');
}



.hp-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    background: url('../images/login.png') center center no-repeat;
    background-size: cover;
    min-height: 100vh;
}	

.hp-wrapper a {
	margin: 0 auto;
	position: absolute;
	left: 45%;
	top: 55%;
	/* overflow: hidden; */
	/* margin-right: 50px !important; */
}

#title {
	font-family: 'PIROU';
	color: rgb(85, 85, 85);
	text-align: center;
	top: 25%;
	margin-left: 42%;
	position: absolute;
	font-size: 100px;
}

#name{
	color:  rgb(91, 91, 91);
	font-family: 'Josefin Slab';
	font-style: serif;
	font-weight: 'light';
	top: 40%;
	left: 48%;
	position: absolute;
	font-size: 30px;
}



#username {
	color:  rgb(85, 85, 85);
	font-family: 'Josefin Slab';
	font-style: serif;
	font-weight: 'light';
	top: 20%;
	left: 42%;
	position: absolute;
	font-size: 30px;
}

#button-image {
	top: 60%;
	left: 52rem;
	position: absolute;
}

#gallery-button {
	top: 60%;
	left: 68rem;
	position: absolute;
}