#button-continue {
	margin-left: 45%;
	/* margin-top: 36%; */
	/* position: absolute; */
}

.overlay-container {
	display: flex;
	margin-left: 150px; 
	/* position: absolute; */
}

/* #image-container {
	display: inline-block;
} */

/* #webcam-container {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
} */

#frame {
	padding: 10px;
    width: 25%;
	height: 50%;
	position: relative;
	/* display: inline-block; */
}