.frameImage{
	display: grid;
	/* margin-top: -231px; */
	width: 25%;
}


.image {
	position: absolute;
    z-index: -10;
    width: 25%;
}

.my-gallery-class {
	-webkit-column-count: 3;
	-moz-column-count:3;
	column-count: 6;
	-webkit-column-gap: 1em;
	-moz-column-gap: 1em;
	column-gap: 1em;
	margin: 1.5em;
	padding: 0;
	-moz-column-gap: 1.5em;
	-webkit-column-gap: 1.5em;
	column-gap: 1.5em;
	
}


/* 
.image-class {
	position: absolute;
    z-index: -10;
    width: 25%;
} */


/* .frame-class img{
	max-width:50%;
	position: relative;
} */


/* .captureImage {
	position: relative;
	width: 25%;
	/* height: 100%; */
	/* display: flex;
	background-size: contain !important;
	background-repeat: no-repeat !important;
	z-index: -10; */
/* } */ 

