
#root {
position: relative;
width: 100vw;
height: 100vh;
}

#countdown {
	position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	color: red;
	background-color: rgba(0,0,0,0.5);
	font-size: 72px;
	z-index: 20;
}




#mission-text h2 {
	position: absolute;
	align-items: center;
	font-size: 72px;
	z-index: 10;
}


#button-div{ 
	position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
	bottom: 140px;
}

#button-div button {
	position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(245, 231, 231);
    bottom: 8%;
    z-index: 10;
}

#border {
	position: absolute;
    justify-content: center;
    justify-items: center;
    margin: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 10;
}






