.captured {
	margin-left: 500px;
	margin-top: 50px;
}

/* .html2canvas-container { width: 560px !important; height: 1090px !important; } */
#save {
    left: 45%;
    top: 70%;
    position: relative;
}


#background {
    position: relative;
    overflow: hidden;
    background: url('../images/kelly-sikkema-273133-unsplash.jpg') center center no-repeat;
    background-size: fill;
    min-height: 1080px;;
    max-width: 1920px;

}

.captureFrame {
    margin-top: 14.5%;
    margin-left: 25%;
    width: 960px;
    height: 540px;
    /* margin: auto; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
}
.captureFrame > div {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    position: relative;
    width: 960px;
    /* height: 480px; */
}



.image1 img {
    top: 0;
 
    position: absolute;
    height: 270px;
    width: 480px;
}

.image2 img {
    top: 0;
    left: 480px;
    position: absolute;
    height: 270px;
    width: 480px;
}

.image3 img {
    top: 270px;
   
    position: absolute;
    height: 270px;
    width: 480px;
}


.image4 img {
    top: 270px;
    left: 480px;
    position: absolute;
    height: 270px;
    width: 480px
}

