

/* .html2canvas-container { width: 560px !important; height: 1090px !important; } */
#save {
    text-align: center;
    top: 106%;
    width: 100%;
    position: relative;

}


#background {
    position: relative;
    overflow: hidden;
    background: url('../images/kelly-sikkema-273133-unsplash.jpg') center center no-repeat;
    background-size: fill;
    min-height: 1080px;;
    max-width: 1920px;
}

.captureFrame {
    top: 25.8%;
    left: 17%;
    width: 960px;
    height: 540px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: absolute;

}

/* .captureFrame > div {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    position: relative;
    width: 960px;
} */

.rotate {
    transform: rotateY(180deg);
}

.image1 img {
    top: 0;
    position: absolute;
    height: 270px;
    width: 480px;
    
}

.image2 img {
    top: 0;
    left: 480px;
    position: absolute;
    height: 270px;
    width: 480px;
}

.image3 img {
    top: 270px;
    position: absolute;
    height: 270px;
    width: 480px;
}


.image4 img {
    top: 270px;
    left: 480px;
    position: absolute;
    height: 270px;
    width: 480px
}

